.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e2f, #252547);
  color: #fff;
  font-family: "Courier New";
}

.typewriter {
  font-size: 2rem;
  border-right: 3px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  animation: blink-caret 0.75s step-end infinite;
}


@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
